{% extends "base.html" %}
{% block index %}
  

    <div class="container">
    
    <hr>
    <a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a>
    <a class="btn btn-primary" href="/add_emp" role="button">Add an Employee</a>
    <a class="btn btn-primary" href="/remove_emp" role="button">Remove an Employee</a>
    <a class="btn btn-primary" href="/filter_emp" role="button">Filter an Employee</a>

    </div>
    <!-- <div>
      {% block all_emp %}
        
      {% endblock all_emp %}
    </div> -->
    {% endblock index %}
