{% extends 'base.html' %}

{% block rem_emp %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Choose An Employee To Be Removed
      </button>
  
    <ul class="dropdown-menu">
        {% for emp in emp %}
        {% comment %} <li><a class="dropdown-item" href="{% url 'remove_emp' emp.id %}">{{emp.first_name}}-{{emp.last_name}} ,{{emp.id}}</a></li> {% endcomment %}
        <li><a class="dropdown-item" href="/remove_emp/{{emp.id}}">{{emp.first_name}}-{{emp.last_name}} ,{{emp.id}}</a></li>

        {% endfor %}
      
    </ul>
  </div>
{% endblock rem_emp %}