{% extends "base.html" %}
{% block update_emp %}

<h3> Update Employee Details</h3>
<hr>
<form method="post" >
   {% csrf_token %}
   <div class="col-lg-6">
      <label for="first_name" >First Name</label>
      <input type="text" class="form-control "class="form-control " name="first_name" value="{{emp.first_name}}"> 
   </div><br>
   <div class="col-lg-6">
      <label for="last_name" >Last Name</label><br>
      <input type="text" class="form-control" name="last_name" value="{{emp.last_name}}">
    </div>
      <div class= "col-lg-6">
      <label for="dept" >Department</label><br>
      <select  class="form-control" multiple aria-label="multiple select example", name="dept">
        {% for i  in depts %}
        <option value= {{i.id}} name="dept" >{{i.name}}, {{i.location}}</option>
        {% endfor %} 
      </select>
    </div>
    <br>
      
      <div class="col-lg-6">
      <label for="role" >Role</label><br>
      <!-- <input type="text" class="form-control"name="role" value="{{emp.role.name}}"><br> -->
      <select  class="form-control" multiple aria-label="multiple select example", name="role">
        <option selected value="{{emp.role}}" namae=" role">{{emp.role.name}}</option>
        {% for i  in roles %}
        <option value= {{i.id}} name="role" >{{i.name}}</option>
        {% endfor %} 
      </select>
    </div>
    <div class="col-lg-5">
        <label for="salary" >Salary</label><br>
        <input type="number" class="form-control" name="salary" value="{{emp.salary}}"><br>
      </div> 
      <div class="col-auto">
      <label for="phone_number" >Phone Number</label><br>
      <input  type= "tel" class="form-control" name="phone_number" value="{{emp.phone}}"><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  
{% endblock update_emp %}